/* Geneeral Styles */
html {
  font-size: 14px;
}

body {
  background: hsl(30, 38%, 92%);
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

img {
  width: 100%;
  max-height: 240px;
}

figure {
  width: 100%;
  margin: 0;
}

h1,
h2 {
  font-family: "Fraunces", serif;
  font-size: 2.25em;
  line-height: 1em;
  margin: 0;
}

h2 {
  color: hsl(158, 36%, 37%);
  width: 42%;
  margin: 0;
}

.content-wrapper {
  width: 90%;
  height: 90%;
  max-width: 350px;
  display: flex;
  flex-flow: column;
  margin-top: 15px;
}

/* Main */
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main article {
  background: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  border-radius: 0 0 10px 10px;
}

main .product-img-fig {
  height: 240px;
}

.product-img-fig-desktop {
  display: none;
}

main .product-img {
  border-radius: 10px 10px 0 0;
}

main .product-info {
  height: 370px;
  width: 85%;
  display: flex;
  flex-flow: row wrap;
}

main .product-info p {
  color: hsl(228, 12%, 48%);
}

#perfume {
  letter-spacing: 5px;
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 24px 0 0 0;
}

main article p {
  margin: 0;
  line-height: 1.7;
  max-width: 296px;
}

.crossed-price {
  text-decoration: line-through;
  width: 50%;
  padding: 5px 0 0 20px;
}

.product-info button {
  width: 100%;
  height: 48px;
  background: hsl(158, 36%, 37%);
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

.product-info button:hover {
  background: #1a4031;
}

.product-info button figure {
  width: 16px;
  height: 16px;
}

.product-info button p {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
  margin: 6px 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Queries */
@media only screen and (min-width: 900px) {
  main .content-wrapper {
    max-width: 600px;
    height: 450px;
    margin: 6% 0 7% 0;
  }

  main .product-img-fig {
    display: none;
  }

  .product-img-fig-desktop {
    display: block;
  }

  main article {
    justify-content: center;
    flex-flow: row;
  }

  img,
  .product-img-fig-desktop {
    max-height: 450px;
    max-width: 300px;
    border-radius: 10px 0 0 10px;
  }

  .product-info {
    height: 450px;
  }

  #perfume,
  h1,
  h2,
  p {
    padding-left: 35px;
    margin-bottom: 27px;
    width: 225px;
  }

  h2,
  .crossed-price {
    flex-basis: content;
    margin-top: 27px;
  }

  .product-info button {
    width: 236px;
    margin-left: 35px;
  }

  .product-info button p {
    padding: 0;
    flex-basis: content;
  }
}
